<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>movie.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>user.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMoviesServlet</servlet-name>
        <servlet-class>movie.ListMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComfirmNewUserServlet</servlet-name>
        <servlet-class>user.ComfirmNewUserServlet</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>ReviewDB</servlet-name>
        <servlet-class>data.ReviewDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReviewsServlet</servlet-name>
        <servlet-class>movie.ListReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>movie.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>business.Review</servlet-class>
    </servlet>
<!--  This space is here to split the classes and URL patterns
      because regular spaces like to go away in this file-->    
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/addMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMoviesServlet</servlet-name>
        <url-pattern>/listMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComfirmNewUserServlet</servlet-name>
        <url-pattern>/ComfirmNewUser</url-pattern>
    </servlet-mapping>    <servlet-mapping>
        <servlet-name>ReviewDB</servlet-name>
        <url-pattern>/ReviewDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReviewsServlet</servlet-name>
        <url-pattern>/listReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/deleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
<!--  This space is here to signify the end of the servlet mapping
      because regular spaces like to go away in this file-->    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
